<!DOCTYPE html>
<html lang="fr" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'expense_manager/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}MProject{% endblock title %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- Navbar content -->
        {% if request.user.is_authenticated %}
            <div class="navbar-nav">
                <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>

                <a href="{% url 'info' %}" class="nav-item nav-link">Info</a>
            </div>
        {% endif %}
    </nav>
    {% if request.user.is_authenticated %}
        <div class="text-end" style="padding: 10px;">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
        </div>
    {% endif %}

    <header class="py-5 mb-5 bg-light">
        <!-- Header content -->
    </header>

    <main>
        <div class="container">
            {% block content %}
            <!-- Main content goes here -->
            {% endblock content %}
        </div>
    </main>

    <footer class="py-5 bg-primary">
        <div class="container text-center text-white">
            <p class="m-0">SECG4-Cospend</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
