{% extends '_base.html' %}

{% block content %}
<div class="container mt-5">
   
    <div class="mt-4">
        <h1 class="text-center">Welcome, {{ request.user.username }}</h1>
        <div class="list-group mt-4">
            <a href="{% url 'manage_groupe' %}" class="list-group-item list-group-item-action">Manage Groupe</a>
            <a href="{% url 'manage_expense' %}" class="list-group-item list-group-item-action">Manage Expense</a>
            <!-- Additional dashboard options here -->
        </div>
    </div>
</div>
{% endblock %}
